
  @import url('https://fonts.googleapis.com/css2?family=Alumni+Sans+Pinstripe:ital@1&family=Raleway:ital,wght@1,500&display=swap');

.Login{
    background-image: url('https://images.unsplash.com/photo-1489599849927-2ee91cede3ba?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80');
    background-size: cover;

  }
  .logo{
    background:linear-gradient( to right, transparent, rgb(10, 10, 48), rgb(15, 13, 58),rgb(58, 53, 167), rgb(127, 58, 136), rgb(241, 90, 183),rgb(250, 210, 232));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: 'Alumni Sans Pinstripe', sans-serif;
  }
  .loginForm{
   background-color: black;
    border-radius: 5px;
  box-shadow: 6px 6px 40px rgba(21, 193, 223, 0.13);
  }