@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@1,500&display=swap');
body{
  background: #000;

}
body::-webkit-scrollbar{
  overflow:hidden;
}
.Logo {
  background:linear-gradient( to right,  rgb(10, 10, 58), rgb(15, 12, 82),rgb(58, 53, 167), rgb(127, 58, 136), rgb(241, 90, 183),rgb(250, 210, 232));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: 'Raleway', sans-serif;
}
.favs:hover{
  background: #e4b125 ;
  -webkit-background-clip:text;
  -webkit-text-fill-color:#e4b125;
  cursor: pointer;
}
.movieCard{
  overflow-y: hidden;
  overflow-x: scroll;
  
  
}
 .movieCard.movieCard::-webkit-scrollbar{
  width: 10px;
  visibility: hidden;
}


.results{
  width: 100%;
  height: 1000px;
  
}