body{
  background: #000;
}
.Logo {
  background: -webkit-linear-gradient(rgb(13, 11, 39), rgb(25, 22, 77),rgb(58, 53, 167), rgb(127, 58, 136), rgb(241, 90, 183),rgb(247, 164, 210));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.favs:hover{
  background: #e4b125 ;
  -webkit-background-clip:text;
  -webkit-text-fill-color:#e4b125;
  cursor: pointer;
}
.movieCard{
  overflow-y:auto;
  
  
}
 .movieCard.movieCard::-webkit-scrollbar{
  width: 10px;
  background: linear-gradient(to bottom, rgba(109, 109, 109, 0.473), rgba(19, 4, 44, 0.438));
  visibility: hidden;
}
.movieCard::-webkit-scrollbar:hover{
  visibility: visible;
}
.movieCard::-webkit-scrollbar-corner{
  background-color: transparent;
}